/*importing fonts*/
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic'); 

/*REMOVING DEFAULT STYLE*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Didact Gothic", sans-serif;
}

/*******SECTION STYLING*******/

section{
    width: 100%;
    height: 100vh;
}

section h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
}

/*******SIDE NAVIGATION*******/

.sideNav {
    background: black;
    position: fixed;
    padding-top: 20px;
    height: 100%;
    width:0; /* a 0 width hides the div*/
    overflow-x: hidden;
    top: 0;
    left: 0;
    transition: 0.7s;
    z-index:1;
}

.sideNav a {
    display: block;
    transition: 0.5s;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    color: #f1c40f;
}

.sideNav a:nth-child(2){
    /*selecting the second element of the menu*/
    margin-top: 90px;
}

.sideNav a:hover {
    background-color: #f1c40f;
    color: black;
}

.sideNav .close {
    position: absolute;
    top: 0;
    padding: 0 !important;
    right: 25px;
    font-size: 40px;
    margin-right: -15px;
}

.sideNav .close:hover {
    background-color: black !important;
    color: #f1c40f !important;
}

#menuButton {
    font-size: 40px;
    padding: 0 10px;
    color: #f1c40f;
    position: fixed;
    cursor: pointer;
}

#homeButton{
    font-size: 40px;
    background:#f1c40f;
    padding: 0 20px 10px 20px;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    bottom: 2%;
    right: 2%;
}

#homeButton a {
    color: black;
    text-decoration: none;
}

/******LANDING PAGE*******/

#landingPage{
    background-image: url("https://images.pexels.com/photos/34088/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navigation {
    margin:20px;
    padding: 0;
    float: right;
}

#navigation a {
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color:white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

#navigation a:hover {
    color: #f1c40f;
}

.heading {
    /*positioning*/
    position: absolute;
    top: 40%;
    left: 25%;
    
    /*styling*/
    height: 150px;
    width: 50%;
    font-family: 'Didact Gothic';
    font-weight: bolder;
    color: white;
    text-align: center;
}


.heading h1{
    font-size: 50px;
    margin: 0;
}


.typed-cursor, #typed{
    font-size: 30px;
    background: #f1c40f;
}

/******ABOUT PAGE*******/

#personalIntro{
    background-color: crimson;
}

#companyIntro{
    background-color: chocolate;
}

#services {
    background-color: dodgerblue;
}

#map{
    background-color: hotpink;
}

#timeline{
    background-color: darkorange;
}

#blog{
    background-color: slateblue;
}

#footer {
    background-color: fuchsia;
    height: 30% !important;
}
































