/*importing fonts*/
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic'); 


/*resetting default  formatting*/

html, body { 
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}

/*--------------- LANDING PAGE -----------------*/
.landingPage {
    background: url("https://images.pexels.com/photos/34088/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
    height: 100vh;
    background-size: cover;
}

.heading {
    /*positioning*/
    position: absolute;
    top: 40%;
    left: 25%;
    
    /*styling*/
    height: 150px;
    width: 50%;
    font-family: 'Didact Gothic';
    font-weight: bolder;
    color: white;
    text-align: center;
}


.heading h1{
    font-size: 50px;
    margin: 0;
/*    background: pink;*/
}


.typed-cursor, #typed{
    font-size: 30px;
    background: #f1c40f;
}

/*NAVIGATION BAR*/

.navbar {
    list-style-type: none;
    display: inline-block;
    float: right;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar a{
    padding: 20px;
}

.navbar li{
    
    display: inline-block;
    text-align: center;
}

.navbar a li {
    text-decoration: none;
    color: white;
    font-family: 'Didact Gothic';
    line-height: 30px;
    font-weight: bolder;
    transition: 0.5s;
}

.navbar a li:hover {
    
    color: #f1c40f; 
/*    the blue color #3498db;*/
}

.navbar .icon {
    display: none;
}

.handle {
    color: white;
    font-family: 'Didact Gothic';
    font-weight: bolder;
    transition: 0.5s;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
    visibility: hidden;
    height: 1px;
}

/*media queries for small screens*/

@media screen and (max-width: 600px){
    
    .heading {
        width: 60%;
        top: 50%;
    }
    .navbar {
        width: 100%;
        visibility: hidden;
    }
    .navbar a {
        padding: 0;
    }
    .navbar ul {
        margin: 0;
        padding: 10px 0;
        width: 100%;
    }
    .navbar ul li{
        box-sizing: border-box; /*to stop overflow*/
        width: 100%;
        background: rgba(241,196,15, 0.3);
        margin-bottom: 5px;
        line-height: 40px;
    }
    
    .handle {
        height: 80px;
        visibility: visible;
        display: block;
        padding: 30px;
        background: #f1c40f;
/*        the other yellow color #e0b508; */
    }
}


/*--------------- BACKGROUND PAGE -----------------*/


#background {
    margin: 0;
    height: 100vh;
    background: pink;
}

#background h1 {
    margin-top: 0;
    position: relative;
    top: 3%;
    text-align: center;
    
}

#timeline {
    background: yellow;
    width: 56%;
    min-width: 400px;
}

#slideshow {
    background: lightblue;
    width: 35%;
    min-width: 400px;
}


#slideshow, #timeline {
    margin: 20px;
    margin-left: 30px !important;
    height: 80%;
    display: inline-block;
    vertical-align: top;
}

#tlContainer {
    margin: 5%;
}












